/*  
  -------------------------------------------------------------------------------------
  Estilizações genéricas. Entender este arquivo CSS como se fosse um framework 
  -------------------------------------------------------------------------------------
*/
body {
  font-family: "Ubuntu", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: rgb(0, 85, 197);
  transition: color 0.2s;
}

a:hover,
a:focus {
  color: rgb(0, 110, 255);
  transition: color 0.2s;
}

.danger {
  color: rgb(201, 0, 0);
}

.danger:hover,
.danger:focus {
  color: rgb(255, 103, 103);
  transition: color 0.2s;
}

input,
textarea {
  font-family: "Ubuntu", sans-serif;
  padding: 5px 10px;
  width: 90%;
}

.hidden {
  display: none !important;
}

.list-no-style {
  list-style: none;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.align-items-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.float-right {
  float: right;
  height: 100%;
}

.width-100 {
  width: 100%;
}

.margin-0 {
  margin: 0;
}

.padding-0 {
  padding: 0;
}

.inline-block {
  display: flex;
}
