.top-header {
  display: flex;
  box-sizing: border-box;
  text-align: center;
  position: relative;
  padding: 5px 10px;
  border-bottom: solid 1px #ccc;
}

.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.formContainer {
  width: 50vw;
  max-width: 320px;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: space-around;
  border: solid 1px;
  padding: 1rem;
  background-color: white;
  border-color: #888888;
  border-radius: 5px;
  box-shadow: 5px 5px 8px #888888;
}

#bookmarksMenu {
  position: fixed;
  box-sizing: border-box;
  width: 220px;
  height: 100vh;
  border-right: solid 1px #ccc;
  background-color: white;
  padding: 5px;
}

#bookmarksMenu button {
  position: absolute;
  top: 20px;
  left: 219px;
  background-color: white;
  border-left: none;
  border-top: solid 1px #ccc;
  border-right: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
  cursor: pointer;
}

#bookmarksMenu ul {
  margin: 0;
  padding: 5px;
  list-style: none;
}

#bookmarksMenu li {
  border: solid 1px #ccc;
  margin: 0 0 5px;
  padding: 5px;
}

#addBookmarkButton {
  position: fixed;
  bottom: 25px;
  right: 25px;
  border-color: red;
  border-radius: 100px;
  width: 50px;
  height: 50px;
  background-color: red;
  color: white;
  cursor: pointer;
}

#addBookmarkButton:hover {
  background-color: rgb(255, 85, 85);
}

#tabs {
  margin: auto;
  max-width: 960px;
}

#tabs nav li {
  padding: 10px;
  border-bottom: solid 1px #ccc;
}

#tabs nav li.active {
  border: solid 1px #ccc;
  border-bottom: none;
}

#tabs nav li.active a {
  color: black;
  text-decoration: none;
}

#tabs #tabContent {
  list-style: none;
  padding: 0;
}

#tabs #tabContent .card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 50vw;
  min-width: 300px;
  background-color: #f7f7f7;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

#tabs #tabContent .card h3 {
  width: 100%;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#tabs #tabContent .card a {
  display: block;
}

#tabs #tabContent .card time {
  font-size: 0.8rem;
  font-style: italic;
  color: #888888
}