.cabecalho {
  display: flex;
  box-sizing: border-box;
  text-align: center;
  position: relative;
  padding: 5px 10px;
  border-bottom: solid 1px #ccc;
}

.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.formContainer {
  width: 50vw;
  max-width: 320px;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: space-around;
  border: solid 1px;
  padding: 1rem;
  background-color: white;
  border-color: #888888;
  border-radius: 5px;
  box-shadow: 5px 5px 8px #888888;
}

#menuFavoritos {
  position: fixed;
  box-sizing: border-box;
  width: 220px;
  height: 100vh;
  border-right: solid 1px #ccc;
  background-color: white;
  padding: 5px;
}

#menuFavoritos button {
  position: absolute;
  top: 20px;
  left: 219px;
  background-color: white;
  border-left: none;
  border-top: solid 1px #ccc;
  border-right: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
  cursor: pointer;
}

#menuFavoritos ul {
  margin: 0;
  padding: 5px;
  list-style: none;
}

#menuFavoritos li {
  border: solid 1px #ccc;
  margin: 0 0 5px;
  padding: 5px;
}

#adicionarFavoritoBotao {
  position: fixed;
  bottom: 25px;
  right: 25px;
  border-color: red;
  border-radius: 100px;
  width: 50px;
  height: 50px;
  background-color: red;
  color: white;
  cursor: pointer;
}

#adicionarFavoritoBotao:hover {
  background-color: rgb(255, 85, 85);
}

#abas {
  margin: auto;
  padding: 0 32px;
  max-width: 960px;
}

#abas nav li {
  padding: 10px;
  border-bottom: solid 1px #ccc;
}

#abas nav li.ativo {
  border: solid 1px #ccc;
  border-bottom: none;
}

#abas nav li.ativo a {
  color: black;
  text-decoration: none;
}

#abas #abaConteudo {
  list-style: none;
  padding: 0;
}

#abas #abaConteudo li {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #f7f7f7;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

#abas #abaConteudo li h3 {
  width: 100%;
  margin: 0 0 8px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#abas #abaConteudo li time {
  font-style: italic;
  color: #888888;
}

#abas #abaConteudo li footer {
  display: flex;
}

#abas #abaConteudo li footer a {
  border-left: solid 1px #888888;
  margin-left: 8px;
  padding-left: 8px;
}

#abas #abaConteudo li footer > * {
  display: flex;
  align-items: center;
  align-content: center;
}

#carregarMaisBotao {
  border-color: rgb(74, 152, 255);
  border-radius: 10px;
  color: white;
  cursor: pointer;
  padding: 8px;
  background-color: rgb(0, 85, 197);
  transition: background-color 0.2s;
}

#carregarMaisBotao:hover {
  border-color: rgb(0, 110, 255);
  background-color: rgb(0, 110, 255);
  transition: background-color 0.2s;
}
